body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  background-color: #f6f6f6 !important;
}

@media (min-width: 100px) and (max-width: 767px) {
  .navbar-contain {
    position: static !important;
    margin: 0 !important;
  }
}

.link-wsp {
  text-decoration: none;
  color: #f6f6f6;
}

.nav-logo {
  width: 10rem;
  height: 10rem;
}

.form-group {
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.form-group:focus-within {
  border: 0.15rem solid #9eb000;
}

.btn-search {
  border: none !important;
}

.navbar-barco {
  border: none;
  background-color: transparent;
}

.search-icon {
  width: 2.5rem;
  height: 2.5rem;
  rotate: 230deg;
}

.martillo-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  transition: transform 0.5s ease; /* Transición suave para el martillo */
}

.rotated {
  transform: rotate(90deg);
}

.picada-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  rotate: 180deg;
}

.conserva-icon,
.regalo-icon,
.catering-icon,
.castillo-icon,
.mapa-icon,
.contacto-icon,
.barco-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.icon-cart-contain {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
}

.cursor-cart-nav {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
}

.icon-cart-contain-inCard {
  position: relative;
  width: 3.5rem; /* Ajusta el tamaño del contenedor según sea necesario */
  height: 3.5rem; /* Ajusta el tamaño del contenedor según sea necesario */
  cursor: pointer;
  outline: 0.125rem solid #9eb000;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 10;
}

.icon-cart-contain-inCard:hover {
  background-color: #9eb000;
  outline: none;
}

.icon-cart-contain-inCard:hover .cart-inCard {
  filter: invert(100%) sepia(0%) saturate(7471%) hue-rotate(323deg)
    brightness(112%) contrast(102%);
}

.icon-cart-contain-inCard:hover .overlay-icon-inCard {
  filter: invert(100%) sepia(0%) saturate(7471%) hue-rotate(323deg)
    brightness(112%) contrast(102%);
}

.overlay-icon-inCard {
  width: 2.2rem;
  height: 2.2rem;
  transform: translate(15%, 45%);
  z-index: 2; /* La superposición tiene un índice z más alto */
  padding: 0.2rem;
  filter: invert(51%) sepia(98%) saturate(428%) hue-rotate(26deg)
    brightness(100%) contrast(101%);
}

.cart-inCard {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  padding: 0.2rem;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 1;
  filter: invert(51%) sepia(98%) saturate(428%) hue-rotate(26deg)
    brightness(100%) contrast(101%);
}

.cart {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 1;
}

.cart-count {
  position: absolute;
  bottom: 0;
  right: -10;
  background-color: #bb3b17;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  z-index: 3;
}

.overlay-icon {
  width: 2.2rem;
  height: 2.2rem;
  bottom: 150%;
  right: 150%;
  transform: translate(15%, 45%);
  z-index: 2; /* La superposición tiene un índice z más alto */
}

.vikingo-register {
  width: 3.2rem;
  height: 3.2rem;
}

.navbar {
  color: #333131;
  background-color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.searchSuggestions {
  max-width: 91%;
  overflow-y: auto;
  max-height: 20rem; /* Altura máxima para las sugerencias */
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 2000;
}

.list-group-item:hover {
  background-color: #cecece;
}

.list-cont-search {
  border: none !important;
}

.nav-item {
  margin-right: 1.5rem;
}

.nav-link-search {
  text-decoration: none;
  color: #333131;
}

.nav-link:focus {
  border-bottom: 0.2rem solid #9eb000 !important;
  color: #9eb000 !important;
}

.dropdown-item {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.dropdown-item:hover {
  background-color: #9eb000 !important;
  transition: all 1s ease-out;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #948e8e !important;
}

.form-control {
  font-family: "Montserrat", sans-serif;
  border: none !important;
}

input:focus,
select:focus,
select,
input.form-control:focus {
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  /* border-color: transparent !important; */
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%); /* Empieza desde arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina en su posición original */
  }
}

.animate-header {
  opacity: 0; /* Inicialmente oculto */
  transform: translateY(100%); /* Empieza desde abajo */
  animation: slideUp 1.5s ease-out forwards; /* Aplica la animación */
}

.animate-header-down {
  opacity: 0; /* Inicialmente oculto */
  transform: translateY(0%); /* Empieza desde abajo */
  animation: slideDown 1.5s ease-out forwards; /* Aplica la animación */
}

@media (min-width: 768px) {
  .bg-wrapper-margin {
    margin-top: 190px;
  }
}

.bg-wrapper {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 21%,
    rgba(115, 115, 115, 1) 84%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 21%,
    rgba(115, 115, 115, 1) 84%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 21%,
    rgba(115, 115, 115, 1) 84%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#737373",GradientType=1);
  overflow: hidden;
  padding: 0 !important;
}

.header-title {
  font-family: "Montserrat", sans-serif !important;
  font-size: 2.8rem;
  font-weight: 600;
  color: #f6f6f6;
  line-height: 4.3rem;
  animation: slideDown 1s ease-out forwards;
}

.btn-header {
  background: #ab2007;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 1rem;
  border: 0rem solid transparent;
  transition: transform 0.3s ease-in-out;
  color: #f6f6f6;
  animation: slideUp 1s ease-out forwards; /* Aplica la animación */
  margin: 0;
}

.btn-header:hover {
  transform: scale(1.05);
}

.header-img-cont {
  width: 100%;
  height: 50rem;
  padding: 0rem !important;
  overflow: hidden;
}

.header-img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  margin-right: 100rem;
  animation: slideUp 1s ease-out forwards;
}

.d-flex {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Capa negra con opacidad */
  border-radius: 10%;
  z-index: 1;
}

.title-categories {
  font-size: 4rem;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

.link-categorias {
  text-decoration: none;
  color: #f6f6f6;
}

.card-categorias {
  border: 0 !important;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  position: relative;
}
.card-elegidos {
  border: 0 !important;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
}

.cards-categorias-img {
  width: 100%;
  max-height: 28rem;
  border-radius: 10%;
  object-fit: cover;

  background: #000000;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catering-btn {
  border: 0.01rem solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 4rem 2rem;
  background: none;
  z-index: 3; /* Asegura que el botón esté sobre la capa de superposición */
}

.btn-categorias {
  border: 0.01rem solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 4rem 2rem;
  background: none;
  z-index: 3; /* Asegura que el botón esté sobre la capa de superposición */
}

.icon-wrapper {
  background: #bb3b17;
  margin: 0;
  padding: 0;
}

.icon-Info-img {
  width: 6rem;
  height: 6rem;
  font-size: 2rem;
  filter: invert(99%) sepia(1%) saturate(116%) hue-rotate(319deg)
    brightness(116%) contrast(93%);
}

.Icon-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #f6f6f6;
}

.card-img-elegidos {
  width: 15.5rem;
  height: 15.5rem;
}

.img-picada-gigante {
  object-fit: cover;
  height: 100vh; /*Ajusta la altura de la imagen*/
  width: 100%;
}

.banner-content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Capa grisácea */
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  color: white;
}

.banner-link-contacto {
  text-decoration: none;
  color: #bb3b17 !important;
}

.banner-title {
  font-size: 3.5rem;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  color: #d8d6d6;
  filter: brightness(0.9);
}

.banner-text {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  color: #d8d6d6;
  filter: brightness(0.9);
}

.backg-foot {
  background: rgb(37, 36, 36);
  background: -moz-linear-gradient(
    135deg,
    rgba(37, 36, 36, 1) 0%,
    rgba(99, 99, 99, 1) 35%,
    rgba(143, 143, 143, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(37, 36, 36, 1) 0%,
    rgba(99, 99, 99, 1) 35%,
    rgba(143, 143, 143, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(37, 36, 36, 1) 0%,
    rgba(99, 99, 99, 1) 35%,
    rgba(143, 143, 143, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252424",endColorstr="#8f8f8f",GradientType=1);
}

.foot-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 2.5rem;
  color: #d8d6d6;
}

.footer-links {
  text-decoration: none;
  font-size: 1.563rem;
  color: #d8d6d6;
  padding: 0.5rem;
  margin-top: 2.8rem;
  margin-right: 0.625rem;
}

.foot-mail {
  text-decoration: none;
  color: #d8d6d6;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}

.nav-logo-foot {
  width: 12rem;
  height: 12rem;
}

.nav-footer {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
}

.nav-item-foot {
  color: #f6f6f6 !important;
}

.nav-link-foot {
  color: #f6f6f6 !important;
  text-decoration: none;
}

.nav-link-foot:focus {
  border-bottom: 0.1rem solid #9eb000;
  color: #9eb000 !important;
}

.text-copiright-1,
.text-copiright-2 {
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  color: #f6f6f6 !important;
}

.blackyDev {
  font-weight: 700;
  font-size: 1.2rem;
  background: linear-gradient(100deg, #c0c0c0, #ffffff, #c0c0c0);
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 0.313rem rgba(0, 0, 0, 0.3);
}

/*--------------------------------- PRODUCTOS ------------------------------------------------ */

@media (min-width: 768px) {
  .banner-presentacion-cont {
    margin-top: 190px;
  }
}

.banner-presentacion-cont-sin-fixed {
  margin-top: 0 !important;
}

.banner-presentacion-cont {
  background-color: #bb3b17;
}

.banner-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 2.5rem;
  color: #d8d6d6;
}

/* MAPA */

.cont-title-banner-presentacion-map {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 2.5rem;
  color: #353434;
}

iframe {
  border: none;
  border-radius: 0.1%;
}

.envios-cont {
  border: 0.2rem solid #9eb000;
  border-radius: 0.5%;
}

.modal {
  border: none !important;
}

.card {
  border: none !important;
}

.card-title-products {
  font-family: "Montserrat", sans-serif !important;
  float: left;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: left;
  color: #646464;
}

.card-text-products {
  font-family: "Montserrat", sans-serif !important;
  float: right;
  padding-left: 0;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  color: #646464;
}

.btn-picada-style {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 900;
  color: #9eb000;
  fill: #9eb000;
  background-color: #fff;
  border: 3px solid #9eb000;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif !important;
  transition: all 0.4s ease;
}

.btn-picada-style:hover {
  background-color: #9eb000;
  color: #fff;
  fill: #fff;
  outline: 0;
  opacity: 0.8;
}

.card-img-top {
  transition: opacity 0.5s ease-in-out;
}

.card-img-top.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
